<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AGREEMENT_URL</key>
	<string>$(AGREEMENT_URL)</string>
	<key>APP_BUNDLE_ID</key>
	<string>$(APP_BUNDLE_ID)</string>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$BITRISE_BUILD_NUMBER</string>
	<key>CHARITY_ENABLED</key>
	<string>$(CHARITY_ENABLED)</string>
	<key>CONSENT_URL</key>
	<string>$(CONSENT_URL)</string>
	<key>CRYPTO_ENABLED</key>
	<string>$(CRYPTO_ENABLED)</string>
	<key>DISCLOSURE_URL</key>
	<string>$(DISCLOSURE_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NETSPEND_DISCLOSURE_URL</key>
	<string>$(NETSPEND_DISCLOSURE_URL)</string>
	<key>NETSPEND_PRIVACY_URL</key>
	<string>$(NETSPEND_PRIVACY_URL)</string>
	<key>NETSPEND_USER_URL</key>
	<string>$(NETSPEND_USER_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>cognito-idp.us-west-2.amazonaws.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>nexus-websocket-a.intercom.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to surface nearby ATMs for the user</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to process images for KYC purposes</string>
	<key>PATHWARD_DISCLOSURE_URL</key>
	<string>$(PATHWARD_DISCLOSURE_URL)</string>
	<key>PATHWARD_PRIVACY_URL</key>
	<string>$(PATHWARD_PRIVACY_URL)</string>
	<key>PATHWARD_USER_URL</key>
	<string>$(PATHWARD_USER_URL)</string>
	<key>PRIVACY_URL</key>
	<string>$(PRIVACY_URL)</string>
	<key>TERMS_URL</key>
	<string>$(TERMS_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WALLET_PRIVACY_URL</key>
	<string>$(WALLET_PRIVACY_URL)</string>
	<key>ZEROHASH_URL</key>
	<string>$(ZEROHASH_URL)</string>
</dict>
</plist>
