<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AGREEMENT_URL</key>
	<string>$(AGREEMENT_URL)</string>
	<key>APP_BUNDLE_ID</key>
	<string>$(APP_BUNDLE_ID)</string>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>CONSENT_URL</key>
	<string>$(CONSENT_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>cognito-idp.us-west-2.amazonaws.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>PRIVACY_URL</key>
	<string>$(PRIVACY_URL)</string>
	<key>TERMS_URL</key>
	<string>$(TERMS_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
