// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "LiquidityFinancial/ApplicationBase/Configurations/LiquidityFinancialConfig.xcconfig"

APP_NAME = DogeCard
APP_BUNDLE_ID = com.liquidityfinancial.dogeking

TERMS_URL = https:/$()/dogecard.co/legal
AGREEMENT_URL = https:/$()/dogecard.co/legal#consumer-account
PRIVACY_URL = https:/$()/dogecard.co/legal#privacy-policy
CONSENT_URL = https:/$()/dogecard.co/legal#e-sign-consent

PATHWARD_USER_URL = https:/$()/dogecard.co/legal#privacy-policy
PATHWARD_PRIVACY_URL = https:/$()/dogecard.co/legal#privacy-policy
PATHWARD_DISCLOSURE_URL = https:/$()/dogecard.co/legal#privacy-policy
SHARE_APP_URL = https:/$()/dogecard.co/app

REFERRALLINK_DEV = https:/$()/dev-dogecard.d2ap16azx4464o.amplifyapp.com
REFERRALLINK_PRO = https:/$()/dev-dogecard.d2ap16azx4464o.amplifyapp.com

UNIVERSAL_LINK = https:/$()/dogeapp.cc/plaid

SEGMENT_DEV_KEY = XgSIxLlZc8bqJvrVnFbmN7nRufN98ZY7
SEGMENT_PROD_KEY = 7NX8uCazB6xakKw1Hj6AGLXx8EhWixTi

CHARITY_ENABLED = false
CRYPTO_ENABLED = true
CRYPTO_FRACTION_DIGITS = 8
