// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "LiquidityFinancial/Configurations/LiquidityFinancialConfig.xcconfig"

APP_NAME = Cardano
APP_BUNDLE_ID = com.liquidity.cardano

TERMS_URL = https:/$()/cardano.co/legal
AGREEMENT_URL = https:/$()/cardano.co/legal#consumer-account
PRIVACY_URL = https:/$()/cardano.co/legal#privacy-policy
CONSENT_URL = https:/$()/cardano.co/legal#e-sign-consent

PATHWARD_USER_URL = https:/$()/cardano.co/legal#privacy-policy
PATHWARD_PRIVACY_URL = https:/$()/cardano.co/legal#privacy-policy
PATHWARD_DISCLOSURE_URL = https:/$()/cardano.co/legal#privacy-policy
SHARE_APP_URL = https:/$()/cardano.co/app

REFERRALLINK_DEV = https:/$()/dev-cardanocard.d48v8qlss9gj4.amplifyapp.com
REFERRALLINK_PRO = https:/$()/dev-cardanocard.d48v8qlss9gj4.amplifyapp.com

UNIVERSAL_LINK = https:/$()/cardano.cc/plaid

CHARITY_ENABLED = false
CRYPTO_ENABLED = true
CRYPTO_FRACTION_DIGITS = 8
