// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "LiquidityFinancial/Configurations/LiquidityFinancialConfig.xcconfig"

APP_NAME = Cardano
APP_BUNDLE_ID = com.liquidity.cardano

TERMS_URL = https:/$()/avalanche.co/legal
AGREEMENT_URL = https:/$()/avalanche.co/legal#consumer-account
PRIVACY_URL = https:/$()/avalanche.co/legal#privacy-policy
CONSENT_URL = https:/$()/avalanche.co/legal#e-sign-consent
NETSPEND_USER_URL = https:/$()/avalanche.co/legal#privacy-policy
NETSPEND_PRIVACY_URL = https:/$()/avalanche.co/legal#privacy-policy
NETSPEND_DISCLOSURE_URL = https:/$()/avalanche.co/legal#privacy-policy
PATHWARD_USER_URL = https:/$()/avalanche.co/legal#privacy-policy
PATHWARD_PRIVACY_URL = https:/$()/avalanche.co/legal#privacy-policy
PATHWARD_DISCLOSURE_URL = https:/$()/avalanche.co/legal#privacy-policy
