// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "LiquidityFinancial/ApplicationBase/Configurations/LiquidityFinancialConfig.xcconfig"

APP_NAME = Avalanche
APP_BUNDLE_ID = com.liquidityfinancial.avalanche
STABLECOIN_SYMBOL = USDC

TERMS_URL = https:/$()/legal.avalanchecard.com/legal/avalanche-app-terms-conditions-4b62a44e
CARD_TERMS_URL_US = https:/$()/legal.avalanchecard.com/legal/avalanche-card-us-card-agreement-bcc089aa
CARD_TERMS_URL_INT = https:/$()/legal.avalanchecard.com/legal/avalanche-card-international-card-agreement-94211945
ACCOUNT_DISCLOSURE_URL = https:/$()/legal.avalanchecard.com/legal/opening-account-disclosures-f5b8a3a9
AGREEMENT_URL = https:/$()/avalanche.co/legal#consumer-account
PRIVACY_URL = https:/$()/legal.avalanchecard.com/legal/avalanche-app-privacy-policy-945fafe7
CONSENT_URL = https:/$()/legal.avalanchecard.com/legal/avalanche-card-e-signature-consent-848d80ca

PORTAL_TERMS_URL = https:/$()/www.portalhq.io/customer-terms-conditions
PORTAL_PRIVACY_URL = https:/$()/www.portalhq.io/privacy-policy
PORTAL_SECURITY_URL = https:/$()/www.portalhq.io/security

PATHWARD_USER_URL = https:/$()/avalanche.co/legal#privacy-policy
PATHWARD_PRIVACY_URL = https:/$()/avalanche.co/legal#privacy-policy
PATHWARD_DISCLOSURE_URL = https:/$()/avalanche.co/legal#privacy-policy
SHARE_APP_URL = https:/$()/avalanche.co/app

REFERRALLINK_DEV = https:/$()/dev-avalanchecard.dxtm8n5zeavql.amplifyapp.com
REFERRALLINK_PRO = https:/$()/dev-avalanchecard.dxtm8n5zeavql.amplifyapp.com

UNIVERSAL_LINK = https:/$()/avalanche.cc/plaid

CHARITY_ENABLED = false
CRYPTO_ENABLED = true
CRYPTO_FRACTION_DIGITS = 8

ALCHEMY_PROD_KEY =
ALCHEMY_DEV_KEY = lErcqCBz37eynBvpQA_MH3zSRk3LhhhI

GOOGLE_PROD_INFO_FILE_NAME = GoogleService-Info-Prod
GOOGLE_DEV_INFO_FILE_NAME = GoogleService-Info-Dev

GOOGLE_PLACES_DEV_KEY = AIzaSyCq6sXjmJpr7f-oGe6Akw83tgmxC_gTZPc
GOOGLE_PLACES_PROD_KEY = AIzaSyBeeNzlMOhzw4JcYfdphkXwMcFeSadVsJI

RAIN_PROD_PUBLIC_KEY = -----BEGIN PUBLIC KEY-----MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCeZ9uCoxi2XvOw1VmvVLo88TLkGE+OO1j3fa8HhYlJZZ7CCIAsaCorrU+ZpD5PUTnmME3DJk+JyY1BB3p8XI+C5unoQucrbxFbkM1lgR10ewz/LcuhleG0mrXL/bzUZbeJqI6v3c9bXvLPKlsordPanYBGFZkmBPxc8QEdRgH4awIDAQAB-----END PUBLIC KEY-----
RAIN_DEV_PUBLIC_KEY = -----BEGIN PUBLIC KEY-----MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCAP192809jZyaw62g/eTzJ3P9H+RmT88sXUYjQ0K8Bx+rJ83f22+9isKx+lo5UuV8tvOlKwvdDS/pVbzpG7D7NO45c0zkLOXwDHZkou8fuj8xhDO5Tq3GzcrabNLRLVz3dkx0znfzGOhnY4lkOMIdKxlQbLuVM/dGDC9UpulF+UwIDAQAB-----END PUBLIC KEY-----
