// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "LiquidityFinancial/Configurations/LiquidityFinancialConfig.xcconfig"

APP_NAME = Avalanche
APP_BUNDLE_ID = com.liquidityfinancial.avalanche

TERMS_URL = https:/$()/avalanche.co/legal
AGREEMENT_URL = https:/$()/avalanche.co/legal#consumer-account
PRIVACY_URL = https:/$()/avalanche.co/legal#privacy-policy
